.btnclass {
    box-shadow: 5px 6px 7px aqua;
    height: 85px;
    width: 85px;
    font-size: 70px;
    color: red;
    background-color: rgba(0, 0, 0, 0.495);
}

.btnclass:hover {
    box-shadow: 6px 7px 10px greenyellow;
    height: 80px;
    width: 80px;
    margin: 4px;
    border: #fdfdfd 2px solid;
    cursor: pointer;

}
.parent-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color:rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    width: 50px;
    height: 25px;


}
.reset:hover
{
    width: 55px;
    height: 30px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 5px greenyellow;
}

body {
    background-color: black;
}

.mainarea {
    display: inline;
    position: relative;
    left: 2rem;
    /* right: 1rem; */
    top: -2rem;
}

#chanceIndicator {

    font-family: monospace;
    color: #6ee15c;
    font-size: 23px;
    padding: 5px;
    border-radius: 8px;

}

.glow {
    font-size: 76px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da5, 0 0 80px #ff4da6;
    }

}
